html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border-style: solid;
    border-color: blue;
    border-width: 0;
    border-collapse: collapse;
    background-color: #013A63; /* https://coolors.co/palette/012a4a-013a63-01497c-014f86-2a6f97-2c7da0-468faf-61a5c2-89c2d9-a9d6e5 */
}

#background {
    background-color: white;
    margin: 0 20%;
    padding: 5% 0;
}

header {
    border: solid 0px black;
    margin-bottom: 8%;
    padding: 0 5%;
    /* text-align:center; */
}

footer {
    margin: 15% 5% 0 5%;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
}

section {
    margin: 5% 0;
}

section > p {
    border: solid 0px green;
    margin: 2% 15%;
}


#gender-map, #bubble, #circle-pack {
    border: solid 0px blue;
    padding: 10% 3%;
    background-color: #E5E5E5;
}


#container {
    width: 100%;
    border-style: solid;
    border-color: red;
    border-width: 0;

}

.chart-container {
    display: flex;
    flex-direction: row;
    padding: 5%;
    border: solid 0px red;
    border-collapse: collapse;
    background-color: white;
}


#bubble-tooltip {
    align-self: center;

}

p.bordered {
    padding: 25px;
}

.circle-pack-chart,
.gender-map-chart,
.bubble-chart {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    border: solid 0px black;
}

.circle-pack,
.gender-map,
.bubble {
    display: inline-block;
    top: 0;
    left: 0;
    border: solid 0px red;
}

.cpGenderLengendSVG,
.cpRegionLegendSVG {
/* display: block; */
border: solid 0px black;
}

/***************/
/* Font styles */
/***************/
body {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 100;
    color: #000;
}

h1 {
    font-size: 36pt;
}

p {
    /* font-family: 'Gothic A1', sans-serif; */
    font-size: 16pt;
}

p.bordered {
    font-weight: bold;
    font-size: 12pt;
}

span.large {
    font-size: 24pt;
}

a:link, a:visited {
    color: #000;
    text-decoration: underline;
}

a:hover {
    color: #DC2F02;  /* https://coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08 */
}

